<body>
    <h2>TERMS &amp; CONDITIONS</h2>
    <P>The developers of the App are Agriculture and Agri-Food Canada (AAFC) and Weather Innovations (WIN). The risk assessment is modified from a study in Sweden (Twengström, Crop Production, 1998, page 405-411).</P>
    <p>AAFC and WIN cannot guarantee the accuracy of risk points assigned to risk factors in the checklist. Therefore, the decision whether to apply a fungicide for control of sclerotinia stem rot in canola is the sole responsibility of the grower.</p>
    <button type="button">
        <a routerLink="/ww">I ACCEPT</a>
    </button>
</body>
