<body>  
  <h2>MENU</h2>
  <body> 
      <button class="menuList"><a routerLink="/timing">Risk assessment in a selected canola field</a></button>
      <button class="menuList">Canola flowering stages</button>
      <button class="menuList">Economic calculation</button>
      <button class="menuList">Photos of disease symptoms</button>
      <button class="menuList">Sclerotinia rating scale</button>
      <button class="menuList">Sclerotinia life cycle</button>                  
  </body>  
</body> 
 
 
